<div class="projects">
  <h2 class="title">Projects</h2>
  <ol class="projects__list">
    <li class="projects__item">
      <a
        class="projects__link"
        href="https://mikeivanov.com"
        target="_blank"
        rel="noopener noreferrer"
        >https://mikeivanov.com</a
      >
      <span>— HTML5, CSS3, JavaScript</span>
    </li>
    <li class="projects__item">
      <a
        class="projects__link"
        href="https://mikeivanov.com"
        target="_blank"
        rel="noopener noreferrer"
        >https://mikeivanov.com</a
      >
      <span>— React.js, Node.js, MongoDB</span>
    </li>
    <li class="projects__item">
      <a
        class="projects__link"
        href="https://mikeivanov.com"
        target="_blank"
        rel="noopener noreferrer"
        >https://mikeivanov.com</a
      >
      <span>— HTML5, CSS3, JavaScript</span>
    </li>
  </ol>
</div>
